<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>371979244341-r36po5qpiq9v9vcs06m5coc1it6g85p5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371979244341-r36po5qpiq9v9vcs06m5coc1it6g85p5</string>
	<key>API_KEY</key>
	<string>AIzaSyCKfobcgdWO1eJpqw-yubc_zwscp8nN38U</string>
	<key>GCM_SENDER_ID</key>
	<string>371979244341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wangquanwei.GankIO</string>
	<key>PROJECT_ID</key>
	<string>gankio-9527</string>
	<key>STORAGE_BUCKET</key>
	<string>gankio-9527.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371979244341:ios:16eab1c879dda7c6</string>
	<key>DATABASE_URL</key>
	<string>https://gankio-9527.firebaseio.com</string>
</dict>
</plist>