<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gank.io.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GankIOActionExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>GankIOExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D701F83B206B68E700DF4E0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D701F84E206B69F400DF4E0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7665D98202AA32800EF8B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7665DB0202AA32800EF8B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7665DBB202AA32800EF8B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
